$as-dark-blue: #01426a;
$text-background-color: #f7f7f7;

/* Header */
.header {
  background-color: $as-dark-blue;
  color: white;
  display: flex;
  padding: 10px;
}

.header-text {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: $as-dark-blue;
  color: white;
  padding: 10px;

  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Main Content Block */
.main {
  background-color: $text-background-color;
  padding: 10px;
}

/* Layout stuff */
:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

.main {
  flex: 1;
}

.container {
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

li:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
}