<!-- <label for="origin">Origin</label>
<input
  id="origin"
  type="text"
  [ngModel]="origin"
  (ngModelChange)="originChange.emit($event)"
/>
<br />
<label for="destination">Destination</label>
<input
  id="destination"
  type="text"
  [ngModel]="destination"
  (ngModelChange)="destinationChange.emit($event)"
/>
<br />
<label for="fromDate">From Date</label>
<input
  id="fromDate"
  type="text"
  [ngModel]="fromDate"
  (ngModelChange)="fromDateChange.emit($event)"
/>
<br />
<label for="toDate">Origin</label>
<input
  id="toDate"
  type="text"
  [ngModel]="toDate"
  (ngModelChange)="toDateChange.emit($event)"
/>
<br />
<label for="nonStopOnly">Non Stop Only</label>
<input
  id="nonStopOnly"
  type="checkbox"
  [ngModel]="nonStopOnly"
  (ngModelChange)="nonStopOnlyChange.emit($event)"
/>
<br />
<button type="button" (click)="getFlightsHandler()">Get me flights</button> -->

<div class="container">
    <ul class="flex-outer">
      <li>
        <label for="origin">Origin</label>
        <input
          id="origin"
          type="text"
          [ngModel]="origin"
          (ngModelChange)="originChange.emit($event)"
        />
      </li>
      <li>
        <label for="destination">Destination</label>
        <input
          id="destination"
          type="text"
          [ngModel]="destination"
          (ngModelChange)="destinationChange.emit($event)"
        />
      </li>
      <li>
        <label for="fromDate">From Date</label>
        <input
          id="fromDate"
          type="date"
          [ngModel]="fromDate"
          (ngModelChange)="fromDateChange.emit($event)"
        />
      </li>
      <li>
        <label for="toDate">To Date</label>
        <input
          id="toDate"
          type="date"
          [ngModel]="toDate"
          (ngModelChange)="toDateChange.emit($event)"
        />
      </li>
      <li>
        <label for="nonStopOnly">Non Stop Only</label>
        <input
          id="nonStopOnly"
          type="checkbox"
          [ngModel]="nonStopOnly"
          (ngModelChange)="nonStopOnlyChange.emit($event)"
        />
      </li>
      <li>
        <button type="button" (click)="getFlightsHandler()">Get me flights</button>
      </li>
    </ul>
</div>
