/* You can add global styles to this file, and also import other style files */
$standard-font: Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;

body {
  min-height: 100vh;
  margin: 0;
  font-family: $standard-font;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
